.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('portfolio2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}