:root {
    --blue:  #1915FF;
    --lightBlue: #1A62FF;
    --cyan: #5FF2FF;
    --yellow: #ADFF15;
    --gold: #FF9D12;
    --lightGreen: #94FFAF;
    --silver: #D9FFE6;
    --purpleHaze:  #D3C7FF;
    --purple: #FF1AE4;
    --rhino:  #DAB8FF;

    --font-one: 'PT Sans', sans-serif;
    --font-two: 'PT Sans', sans-serif;
}

